.singin__text{
    height: 85px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    color: $background_color;
    font-family: "Open Sans", sans-serif;
}
.singin__form{
    width: 309px;
    height: 46px;
    border-radius: 4px;
    background-color: $white-color;
    border: 1px solid #dbe1e3;
    margin-left: 30px;
}
.singin__input::-webkit-input-placeholder {
    font-size: 14px;
    color: rgb(180,189,194);
    font-family: "Open Sans", sans-serif;
}
.singin__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.singin__icon{
    background-color: #dbe1e3;
    width: 44px;
}
.singin__user:after{
    content: '';
    display: block;
    position: relative;
    background: url("../img/singin/user.png") no-repeat center;
    width: 24px;
    height: 23px;
 }
.singin__password:after{
    content: '';
    display: block;
    position: relative;
    background: url("../img/singin/lock.png") no-repeat center;
    width: 19px;
    height: 25px;
}
.singin__login{
    font-size: 14px;
    color: rgb(10,161,153);
    font-family: "Open Sans", sans-serif;
}
.singin__forgotpassword{
    float: left;
    margin-left: 30px;
}
.singin__createaccount{
    float: right;
    margin-right: 30px;
}
.singin__button{
    clear: both;
    position: relative;
}
.singin__fasebook_size,
.singin__submit_size{
    width: 186px;
    height: 59px;
    font-size: 17px;
    color: $white-color;
    font-family: "Open Sans", sans-serif;
    border: none;
    margin-top: 35px;
}
.singin__fasebook{
    position: absolute;
    float: left;
    background-color: #3367af;
}
.singin__fasebook-text{
   float: left;
    margin-left: 30px;
    line-height: 30px;
}
.singin__fasebook-img {
    line-height: 20px;
    float: right;
    margin-right: 36px;

}
.singin__submit{
    float:right;
    background-color: $light-blue;
}
.form-createaccount__input::-webkit-input-placeholder {
    font-size: 14px;
    color: rgb(180,189,194);
    font-family: "Open Sans", sans-serif;
}
.form-createaccount__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.modal-body, .btn{
    font-family: "Open Sans", sans-serif;
}